Django>=4.2
djangorestframework
django-cors-headers
django-environ
gunicorn
psycopg2-binary 
mysqlclient  
pillow 
drf-yasg
djangorestframework-simplejwt
authentication

django
djangorestframework
djangorestframework-simplejwt
mysqlclient
pymysql
channels